# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Jupyter
.ipynb_checkpoints

# Datos grandes
*.csv
*.xlsx
# Permitir Excel dentro del dataset/raw/
!dataset/raw/*.xlsx
*.zip

# PyTorch
*.pth
*.pt

# Sistema
.DS_Store
Thumbs.db
